.DS_Store
xcuserdata
QordobaOutput/
iOSInjectionProject
.idea

## Build generated
build/
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.pbxproj

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Various settings
*.pbxuser

## CocoaPods
Pods/

## Carthage
Carthage/Build

## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

##ruby
.rbenv-gemsets
.ruby-version
